.box1{
    background-color: lightgray;
    height: 120px;
}

.box2{
    background-color: lightgray;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: black;
}

.textos{
   color: black;
}